body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container {
    display: flex;
    flex-direction: column;
}

.login-form, .register-form {
    padding: 20px;
}

.hidden {
    display: none;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #5cb85c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: 10px auto;
}

button:hover {
    background-color: #4cae4c;
}

p {
    text-align: center;
    margin-top: 10px;
}

span {
    color: #5cb85c;
    cursor: pointer;
}

.message {
    color: red;
    text-align: center;
    margin-top: 10px;
}


/* Шапка сайта */
header {
    background-color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 10px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links li a {
    font-size: 1em;
    color: #283618;
    transition: color 0.3s;
}
.nav-links li a:hover{
    color: #606C38;
}


.container_h {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

a {
    text-decoration: none;
    color: #333;
}


.btn {
    display: inline-block;
    background-color: #BC6C25;
    color: #fff;
    padding: 10px 20px;
    border: none;
    transition: 0.5s linear;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.btn:hover {
    background-color: #DDA15E;
}

/* Шапка сайта */

main {
    display: flex;
    justify-content: center;
    margin: 40px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
footer p{
    margin: 5px 0;
}
    